.index2-article{
  display: flex;
  justify-content: center;
  background-color: #f6f9f9;
}
.index2-choose{
  width: 1200px;
  height: 60px;
}
.chooseSchoolheader{
  height: 60px;
  line-height: 60px;
}
.chooseSchoolheader a{
  font-size: 15px;
  color: #7f7f80;
}
.chooseSchoolheader>a:hover{
  color: #29b8f7;
}
.chooseSchoolbody{
  height: 385px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 24px;
}
.chooseSchoolbody>ul>li>span{
  display:inline-block;
  width: 110px;
  font-size: 20px;
  line-height: 55px;
  margin:0 28px;
  vertical-align: middle;
  color: #a0a0a1;
}
.chooseSchoolbody>ul>li>div{
  vertical-align: middle;
}
.chooseSchoolselection{
  display: inline-block;
}
.chooseSchoolselection>ul>li{
  display: inline-block;
  height: 55px;
}
.chooseSchoolselection>ul>li>a{
  font-size: 15px;
  line-height: 55px;
  margin-right: 55px;
  color: #494949;
}
.chooseSchoolselection>ul>li>a:hover{
  color: #29b8f7;
}
